// @use '../../../styles/variables';

.login_form {
  min-width: 35%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  // flex:1;
  margin-top: -7em;
  border-radius: 1em;
  // min-height: 10em;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
  //   box-shadow: 8px 8px 0px 1px rgba(151,142,142,0.2);
}
.login_form > p {
  color: gray;
  margin: 0;
}

.input_group {
  display: grid;
  gap: 0.5em;
  position: relative;
  // border: 1px solid red;

  input {
    // max-width: 100%;
    padding: 1.05em;
    border-radius: 0.35em;
    border: 1px solid gray;
    background-color: transparent;
    color: black;

    // &:focus{
    //   border: 1px solid red;
    // }
  }

  input:-internal-autofill-selected {
    background-color: transparent !important;
    color: black !important;
  }
  
}

// .input_group > input:autofill {
//   background-color: transparent !important;
//   color: black !important;
// }
// .input_group > input:-webkit-autofill {
//   background-color: transparent;
//   color: black;
// }
.login_form > h2,
p {
  margin: 0;
}
.input_group > p:nth-of-type(1) {
  position: absolute;
  right: 0.3em;
  bottom: 4em;
  color: gray;
  font-size: 0.85em;
  cursor: pointer;
}
.input_group > p:nth-of-type(2) {
  position: absolute;
  color: red ;
  bottom: -1.5em;
  font-size: .9em;
}

.error_message{
  //  border: 1px solid red;
   bottom: -1.5em !important;
   left: 0;
   color: red !important;
   font-size: .9em !important;
}
.password_visible_icon {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
  font-size: 1.4em;
  color: gray;
  cursor: pointer;
}
.submit_button {
  padding: 1em;
  padding-left: 4em;
  padding-right: 4em;
  align-self: center;
  border-radius: 2em;
  background-color: #f47458;
  border: none;
  cursor: pointer;
  margin-top: 1em;
  position: relative;
}
.submit_button:hover {
  background-color: white;
  color: #f47458;
  border: 1px solid #f47458;
}
.icon {
  color: white;
  max-width: 1.5em;
  position: absolute;
  top: 0.8em;
  right: 1.5em;
}

.icon:hover {
  color: #f47458;
}

// mobile to landscape
@media only screen and (max-width: 540px) {
  .input_group > p {
    top: 0;
  }
  .login_form {
    min-width: 68%;
    margin-top: 2em;
  }
  .login_form > h2 {
    margin: 0;
  }
}

@media only screen and (min-width: 541px) and (max-width: 920px) {
  .login_form {
    min-width: 60%;
  }
}

@media only screen and (min-width: 921px) and (max-width: 1280) {
  .login_form {
    margin: 0;
    // min-width: 35%;
  }
}
// Extra large screens
@media only screen and (min-width: 1281px) {
  .login_form {
    margin: 0;
    min-width: 33%;
  }
  .submit_button {
    margin-top: 5em;
  }
}
